.category-chart-wrapper {
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.recharts-legend-item-text {
    color: var(--color-text-muted) !important;
    font-size: 13px !important;
    font-weight: 500 !important;
    margin-left: 5px;
}

.recharts-tooltip-label {
    display: none;
}
